
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


 #Header {
  width: 90vw;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#Header h1 {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px #3131317c;;
}
