
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#cardDiv {
  width: 20rem;
  
  

  
}

#cardTextCon{
  height: 15rem;
}

.card {
  font-family: 'Kaushan Script', cursive;
  margin: auto;
  
  /* margin-bottom: 5vh; */
  box-shadow: 20px 20px rgba(128, 128, 128, 0.481);
  border-radius: 5%;
}

.card {
  background-image: url(./images/bookBackgroundTextBox.jpeg);
  background-size: cover;
}

.card img {
  margin: auto;
  width: 15rem;
  height: 15rem;
  border-radius: 5%;
}

.card h2 {
  margin-top: 4rem;
}

#numberCog {
  font-size: 100%;
  padding-top: 2.5vh;
}

#keyWord {
  font-size: 5vh;
}

#description {
  font-size: 100%;
}

.card button {
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
}

.Card.Text {
  width: 100%;
}

